
<form class="ui form">
  <div class="field">
    <label>First Name</label>
    {{input value=userName type=text}}
  </div>
  <button class="ui button" type="submit" {{action 'createUser'}}>Submit</button>
</form>


{{yield}}
