<div class="ui two column centered grid">
  <div class="column">
    <div class="ui three item menu column ">
      <a class="item">Users</a>
      <a class="item">Cities</a>
      <a class="item">Trucks</a>
    </div>
  </div>
</div>
{{yield}}