<button class="ui positive basic button" type="submit" {{action 'manageMarkers'}}>Launch simulation</button>
{{#g-map lat=latitude lng=longitude zoom=myZoom as |context|}}
  {{g-map-marker context lat=lat lng=lng icon=myIcon}}
{{/g-map}}
{{yield}}
