<form class="ui form">
  <div class="field">
    <label>Enter address</label>
    {{input value=address type=text}}
  </div>
  <button class="ui button" type="submit" {{action 'searchPos'}}>envoyer</button>
</form>
{{yield}}