<form class="ui form">
  <div class="field">
    <h3>How many trucks do you want to launch ?</h3>
    {{input class="nbtruckinput" placeholder="Number of trucks" value=address type=text}}
  </div>
</form>
{{yield}}
