<div class="ui menu inverted">
  {{#link-to 'dashboard'}}
    <a class="item">Map</a>
  {{/link-to}}
  {{#link-to 'tables'}}
    <a class="item">Tables</a>
  {{/link-to}}
  <div class="right menu">
    {{#link-to 'other'}}
      <a class="item">Other</a>
    {{/link-to}}
    <a {{action 'logout'}} class="item">Sign out</a>
  </div>
</div>

{{yield}}
