<div class="menu">
  {{map/nav-bar logout="logout"}}
    <br><br><br>
    <div class="ui divider"></div>
    <div class="ui two column vertically padded grid">
      <div class="column">
        {{map/google-map latitude="34.851939" longitude="-82.399752" cities=model.cities}}
      </div>
      <div class="column">
        {{map/input-form searchPos="searchPos" }}
      </div>
    </div>
</div>
  {{outlet}}